# Copyright 2017-present Open Networking Foundation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


tosca_definitions_version: tosca_simple_yaml_1_0

description: Persist M-CORD Subscriber

imports:
   - custom_types/vbbuservice.yaml
   - custom_types/vhssservice.yaml
   - custom_types/vmmeservice.yaml
   - custom_types/vspgwcservice.yaml
   - custom_types/vspgwuservice.yaml
   - custom_types/servicedependency.yaml

topology_template:
  node_templates:

    # Service VBBU
    service#oaibbu:
      type: tosca.nodes.VBBUService
      properties:
        name: VBBUService

    # Service VHSS
    service#vhss:
      type: tosca.nodes.VHSSService
      properties:
        name: VHSSService

    # Service VMME
    service#vmme:
      type: tosca.nodes.VMMEService
      properties:
        name: VMMEService

    # Service VSPGW Control Plane
    service#vspgwc:
      type: tosca.nodes.VSPGWCService
      properties:
        name: VSPGWCService

    # Service VSPGW User Plane
    service#vspgwu:
      type: tosca.nodes.VSPGWUService
      properties:
        name: VSPGWUService

    # Service dependency from VBBU to VMME
    mcord_vbbu_vmme:
      type: tosca.nodes.ServiceDependency
      properties:
        connect_method: None
      requirements:
        - subscriber_service:
            node: service#vbbu
            relationship: tosca.relationships.BelongsToOne
        - provider_service:
            node: service#vmme
            relationship: tosca.relationships.BelongsToOne

    # Service dependency from VBBU to VSPGWU
    mcord_vbbu_vspgwu:
      type: tosca.nodes.ServiceDependency
      properties:
        connect_method: None
      requirements:
        - subscriber_service:
            node: service#vbbu
            relationship: tosca.relationships.BelongsToOne
        - provider_service:
            node: service#vspgwu
            relationship: tosca.relationships.BelongsToOne

    # Service dependency from VMME to VHSS
    mcord_vmme_vhss:
      type: tosca.nodes.ServiceDependency
      properties:
        connect_method: None
      requirements:
        - subscriber_service:
            node: service#vmme
            relationship: tosca.relationships.BelongsToOne
        - provider_service:
            node: service#vhss
            relationship: tosca.relationships.BelongsToOne

    # Service dependency from VMME to VSPGWC
    mcord_vmme_vspgwc:
      type: tosca.nodes.ServiceDependency
      properties:
        connect_method: None
      requirements:
        - subscriber_service:
            node: service#vmme
            relationship: tosca.relationships.BelongsToOne
        - provider_service:
            node: service#vspgwc
            relationship: tosca.relationships.BelongsToOne

    # Service dependency from VSPGWU to VSPGWC
    mcord_vspgwu_vspgwc:
      type: tosca.nodes.ServiceDependency
      properties:
        connect_method: None
      requirements:
        - subscriber_service:
            node: service#vspgwu
            relationship: tosca.relationships.BelongsToOne
        - provider_service:
            node: service#vspgwc
            relationship: tosca.relationships.BelongsToOne
